*{
    box-sizing: border-box;
    margin: 0;
}

.nav-container{
    height: 200px;
    background: #FEA82F;
    border: 1px solid #000000;
}

.wrapper{
    width: 100%;
    margin: 0, auto;
}

.nav-btn{
    background: #FF8022;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 25px;
}


ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style:none;
}

li a{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

#search-bar{
    border: 1px solid #000000;
    border-radius: 30px;
    width: 25vw;
    display: flex;
}
#search-bar img{
    align-items: flex-start;
}
a, h1{
    font-style: normal;
    font-size: 32px;
    font-family: 'Petit Formal Script', cursive;
    font-weight: bolder;

    
}

.text{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/* FOOTER*/

.footer-container{
    height: 200px;
    background: #FEA82F;
    border: 1px solid #000000;
    padding: 25px;
}
hr{
    margin-top: 25px;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 25px;
}

/* body */

.form-container{
    background: #EC333B;
    margin: 4vw 8vw;
    display: flex;
    justify-content: center;
}

.form-container div{
    margin: 20px;
}

input[type=text], input[type=email]{
    border-radius: 10px;
    height: 40px;
    width: 50vw;
}
#message{
    height: 200px;
}
input, label{
    display: block;
}
.form-contact-pj{
    display: inline-block;
}

label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.form-contact-envoyer{
    display: flex;
    justify-content: center;
}
input[type=submit]{
    font-family: 'Petit Formal Script';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;  
    color: #000000;
    border: 1px solid #000000;
    background-color: #fffcff;
}
h1{
    margin-bottom: 10px;
}
h1, h4{
    display: flex;
    justify-content: center;
}

.footer-container-small{
    display: none;
}

@media only screen and (max-width: 1024px){

    .footer-container{
        display: none;
    }

    .footer-container-small{
        padding: 50px;
        display: flex;
        justify-content: space-evenly;
        background: #FEA82F;
        border: #000000 solid 1px;
    }

    .nav-btn, .search-box, .account-icon{
        display: none;
    }

    .form-container{
        margin: 0px;
    }

    .nav-btn-container{
        justify-self: center;
    }
}